node_modules
.pnp
.pnp.js
package-lock.json

.next/
out/
dist/
.turbo/
build/

# misc
.DS_Store
*.pem
*.pdf

# debug
npm-debug.log*

# local env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# backups
backups/
scripts/clone-prod-to-dev.sh

# local agent configs & skills
.agents/
